@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #B6D2D7;
  --secondary-color: #759798;
  --accent-color: #DC2D29;
  --background-color: #292F2A;
  --text-color: #FCF6E0;
  --highlight-color: #f2d97c;
  --link-color: #61dafb;
  --green-color: #2F4C37;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; /* Apply the font to the body */
  color: var(--text-color);
  /* background-color: var(--green-color); */
}

.App {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
}

h1{
  font-size: 2.5em;
  color: var(--text-color);
}

.tooltip-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

div:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px; /* Add padding for more space */
  margin: 0 auto; /* Center align horizontally */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

p {
  font-size: 1.1em;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.welcome-photo {
  width: 16%;
  border-radius: 50%;
  border: 4px solid var(--background-color);
}