.projects {
  padding: 20px;
}

.projects-card {
  background-color: var(--text-color); /* Use the text color for the background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-card {
  background-color: var(--background-color);
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 350px; /* Adjust the height for better aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-container {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    margin: 0 auto; /* Center align horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
  transition: opacity 0.3s ease;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--text-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.project-card:hover .project-image {
  opacity: 0.3;
}

.project-card:hover .project-description {
  opacity: 1;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7%; /* Adjust the height as needed */
  text-align: center;
}

.star {
    color: lightgray;
    font-size: 20px;
  }
  
  .star.filled {
    color: var(--accent-color);
  }